/* .style-position {
    margin: auto;
}
.btn-background{
    background-color: #F06C4E;
}
.item-size{
    width: 370px;
}
#allItem{
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap: 20px;
} */

.card-style{
    border: none;
}