.style-position {
    margin: auto;
}
.btn-background{
    background-color: #F06C4E;
}
.item-size{
    width: 350px;
}
#item{
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap: 30px;
}
